@charset "UTF-8";
html, body { background-color: #F7F8FA; color: #323232; }

section { margin: 30rem 0; }

.container-box { background-color: #fff; padding: 40rem 30rem; border-radius: 24rem; }

.con-title { position: relative; margin-bottom: 40rem; color: #323232; font-size: 32rem; font-family: "PingFangSC-Medium"; }

.con-title::before { content: ''; position: absolute; left: 0; border-right: 6rem solid #3678FF; border-top-right-radius: 5rem; border-bottom-right-radius: 5rem; height: 100%; margin-left: -30rem; }

.see-more { color: #0062b1; font-size: 28rem; margin-top: -2rem; font-family: "PingFangSC-Regular"; }

.see-more .bi { margin-left: 20rem; display: inline-block; box-sizing: border-box; width: 44rem; height: 44rem; background-color: #EAF5FF; border-radius: 8rem; text-align: center; }

.nav-border-style { margin-top: -10rem; }

.nav-border-style li { border: 1px solid #DCDFE6; }

.nav-border-style li:first-child { border-top-left-radius: 8rem; border-bottom-left-radius: 9rem; }

.nav-border-style li:last-child { border-top-right-radius: 8rem; border-bottom-right-radius: 8rem; }

.nav-border-style > li + li { margin-left: 0; border-left: 0; }

.nav-border-style li a { padding: 10rem 16rem; color: #323232; font-size: 24rem; }

.nav-border-style > li.active > a, .nav-border-style > li.active > a:hover, .nav-border-style > li.active > a:focus { background: #EAF5FF; color: #79C0FA; }

.top-bg { width: 100%; height: 200rem; background: linear-gradient(42deg, #0062b1, #046ABF); }

.main { position: relative; top: -70rem; margin: 0 30rem; }

.main .header { margin: 0; background: #fff; border-radius: 24rem; }

.main .header .media { padding: 40rem 30rem; }

.main .header .media h5 { font-family: "PingFangSC-Medium"; color: #323232; font-size: 28rem; }

.main .header .media h5 span { margin-left: 16rem; display: inline-block; padding: 7rem 10rem; text-align: center; background: #00CE7D; border-radius: 16rem; font-size: 20rem; font-family: PingFang SC; color: #fff; }

.main .header .media .img-photo { width: 88rem; height: 88rem; }

.main .header .media .info-center { font-size: 24rem; color: #989898; font-family: "PingFangSC-Regular"; }

.main .header .work-num { padding-bottom: 38rem; }

.main .header .work-num > li { text-align: center; }

.main .header .work-num > li p:first-child { margin-bottom: 28rem; font-size: 32rem; font-family: Helvetica Neue; font-weight: bold; color: #333333; }

.main .header .work-num > li p:last-child { font-size: 28rem; font-family: PingFang SC; font-weight: 400; color: #656565; line-height: 15px; }

.main .header .work-num > li:first-child { border-right: 1px solid #F6F6F6; }

/*--------------------------------------------------------------
# work-status 工单状态
--------------------------------------------------------------*/
.work-order .radio-wrap { position: relative; right: 5%; margin-top: 5%; }

/*--------------------------------------------------------------
# work-status 工单状态
--------------------------------------------------------------*/
.work-status .wrap { display: flex; margin-bottom: 20rem; }

.work-status .wrap > div { flex: 1; color: #fff; padding: 30rem; margin-right: 23rem; }

.work-status .wrap > div:last-child { margin-right: 0; }

.work-status .wrap h5 { font-weight: normal; font-size: 28rem; font-family: PingFangSC-Medium; margin-bottom: 15rem; }

.work-status .wrap p { font-weight: bold; font-size: 32rem; font-family: HelveticaNeue-Bold; }

.work-status .wrap .wrap-1 { background: url("../images/index/add-order.png") no-repeat center center; background-size: 100% 100%; }

.work-status .wrap .wrap-2 { background: url("../images/index/end-order.png") no-repeat center center; background-size: 100% 100%; }

.work-status .wrap .wrap-3 { background: url("../images/index/agency-order.png") no-repeat center center; background-size: 100% 100%; }

.work-status .wrap .wrap-4 { background: url("../images/index/agency-order.png") no-repeat center center; background-size: 100% 100%; }

/*--------------------------------------------------------------
# ssc-knowledge ssc知识库
--------------------------------------------------------------*/
.ssc-knowledge .input-group-addon { background-color: #0062b1; border: 1px solid #0062b1; color: #fff; }

.ssc-knowledge .bg-wrap > div { margin-bottom: 30rem; }

.ssc-knowledge .bg-wrap > div:nth-child(3) { margin-bottom: 0; }

.ssc-knowledge .bg-wrap > div:nth-child(4) { margin-bottom: 0; }

.ssc-knowledge .bg-wrap > div:last-child { margin-right: 0; }

.ssc-knowledge .bg-wrap > div h5 { padding-top: 100rem; padding-left: 45rem; padding-bottom: 30rem; color: #323232; font-size: 28rem; font-family: "PingFangSC-Regular"; }

.ssc-knowledge .bg-wrap .wrap-1 { background: url("../images/index/knowledge3.png") no-repeat center center; background-size: 100% 100%; }

.ssc-knowledge .bg-wrap .wrap-1 .icon { background-color: #426EC3; opacity: 0.4; }

.ssc-knowledge .bg-wrap .wrap-2 { background: url("../images/index/knowledge1.png") no-repeat center center; background-size: 100% 100%; }

.ssc-knowledge .bg-wrap .wrap-2 .icon { background-color: #42B5C3; opacity: 0.4; }

.ssc-knowledge .bg-wrap .wrap-3 { background: url("../images/index/knowledge2.png") no-repeat center center; background-size: 100% 100%; }

.ssc-knowledge .bg-wrap .wrap-3 .icon { background-color: #42C34F; opacity: 0.4; }

.ssc-knowledge .bg-wrap .wrap-4 { background: url("../images/index/knowledge4.png") no-repeat center center; background-size: 100% 100%; }

.ssc-knowledge .bg-wrap .wrap-4 .icon { background-color: #C38242; opacity: 0.4; }

/*--------------------------------------------------------------
# ssc-serve ssc服务
--------------------------------------------------------------*/
.ssc-serve > ul { display: flex; }

ul.row-one { margin-bottom: 40rem; }

.ssc-serve li { flex: 1; text-align: center; }

.ssc-serve li:last-child { margin-right: 0; }

.ssc-serve li img { width: 90rem; height: 90rem; margin-bottom: 24rem; }

.ssc-serve li p { font-size: 28rem; }

@media (min-width: 751px) { body { width: 640px; margin: 0 auto; } }

/*--------------------------------------------------------------
# daily-work 工单状态
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# serve-container 服务响应时间
--------------------------------------------------------------*/
.serve-container { background-color: #fff; }

.serve-container p { padding-bottom: 17rem; margin: 20rem 0 30rem 0; border-bottom: 1px solid #DCDFE6; font-size: 28rem; color: #323232; font-family: "PingFangSC-Regular"; }

.serve-container .bottom-content { line-height: 25px; }

.serve-container b { font-size: 28rem; font-family: HelveticaNeue-Bold; }

.serve-container .previous-period { margin-right: 18rem; color: #989898; font-size: 24rem; }

.serve-container .percent, .serve-container .bi-arrow-down { color: #F56C6C; font-size: 24rem; }

@media (min-width: 751px) { #daily-week, #daily-month, #daily-year { width: 550rem; height: 360rem; }
  #pieChart { width: 550rem; height: 300rem; }
  #water-polo { width: 250rem; height: 300rem; } }

@media (min-width: 320px) and (max-width: 750px) { #daily-week, #daily-month, #daily-year { width: 660rem; height: 360rem; }
  #pieChart { width: 660rem; height: 300rem; }
  #water-polo { width: 400rem; height: 300rem; } }
