@charset "UTF-8";
html, body { background-color: #F7F8FA; color: #323232; }

section { margin: 30rem 0; }

.none { visibility: hidden; }

.block { display: inline-block; }

.container-box { background-color: #fff; padding: 40rem 30rem; border-radius: 24rem; }

.con-title { position: relative; margin-bottom: 40rem; color: #323232; font-size: 32rem; font-family: "PingFangSC-Medium"; }

.con-title::before { content: ''; position: absolute; left: 0; border-right: 6rem solid #3678FF; border-top-right-radius: 5rem; border-bottom-right-radius: 5rem; height: 100%; margin-left: -30rem; }

.main { margin: 0 30rem; }

.dialog { position: fixed; height: 100%; width: 100%; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; background-color: #890; opacity: 0.6; pointer-events: auto; }

/*--------------------------------------------------------------
# search-wrap 工单状态
--------------------------------------------------------------*/
.search-wrap { margin: 0; background-color: #fff; }

.search-wrap .form-inline { margin: 30rem; }

.search-wrap .form-inline .left-search { margin-left: 18rem; }

.search-wrap .form-inline .form-group { width: 100%; margin-bottom: 0; }

.search-wrap .form-inline .form-group .input-search { height: 80rem; border-radius: 40rem; background-color: #F6F7F9; text-align: center; width: 100%; }

/*--------------------------------------------------------------
# ssc-serve ssc服务
--------------------------------------------------------------*/
.ssc-serve > ul { clear: both; width: 100%; }

.ssc-serve li { float: left; width: 25%; text-align: center; }

.ssc-serve li:nth-child(1), .ssc-serve li:nth-child(2), .ssc-serve li:nth-child(3), .ssc-serve li:nth-child(4) { margin-bottom: 40rem; }

.ssc-serve li i.bi-dash-circle-fill { color: #CDCDCD; }

.ssc-serve li i.bi-plus-circle-fill { color: #0062B1; }

.ssc-serve li .icon-position::before { background: #fff; border: 1px solid #fff; border-radius: 50%; position: relative; z-index: 11; pointer-events: none; }

.ssc-serve li:last-child { margin-right: 0; }

.ssc-serve li img { width: 90rem; height: 90rem; margin-bottom: 24rem; }

.ssc-serve li p { font-size: 28rem; font-family: "PingFangSC-Regular"; }

.shake { -webkit-transform-origin: center center; -webkit-animation-name: shake-rotate; -webkit-animation-duration: 0.5s; -webkit-animation-timing-function: linear; -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes shake-rotate { 0% { -webkit-transform: rotate(0deg); }
  12.5% { -webkit-transform: rotate(1.25deg); }
  25% { -webkit-transform: rotate(2.5deg); }
  37.5% { -webkit-transform: rotate(1.25deg); }
  50% { -webkit-transform: rotate(0deg); }
  62.5% { -webkit-transform: rotate(-1.25deg); }
  75% { -webkit-transform: rotate(-2.5deg); }
  87.5% { -webkit-transform: rotate(-1.25deg); }
  100% { -webkit-transform: rotate(0deg); } }

@media (min-width: 751px) { body { width: 640px; margin: 0 auto; }
  .ssc-serve li .icon-position { font-size: 22px; }
  .ssc-serve li .icon-position::before { top: -8rem; right: 15rem; } }

@media (min-width: 442px) and (max-width: 750px) { .ssc-serve li .icon-position { font-size: 22px; }
  .ssc-serve li .icon-position::before { top: -6rem; right: 26rem; } }

@media (min-width: 320px) and (max-width: 441px) { .ssc-serve li .icon-position { font-size: 15px; }
  .ssc-serve li .icon-position::before { top: -8rem; right: 19rem; } }
