body { background: #F7F8FA; box-sizing: border-box; padding-bottom: 190rem; }

.main .header { width: 100%; height: 184rem; background: #FFFFFF; box-sizing: border-box; padding: 0 30rem; overflow: hidden; }

.main .header .header-up { display: flex; margin: 30rem 0 34rem; align-items: center; }

.main .header .header-up .header-up-left { font-size: 32rem; font-family: PingFang SC; font-weight: 500; color: #323232; margin-right: 20rem; }

.main .header .header-up .header-up-right span { width: 98rem; height: 40rem; border-radius: 24rem; font-size: 24rem; font-family: PingFang SC; font-weight: 500; padding: 8rem 14rem; line-height: 1; }

.main .header .header-up .header-up-right span.pending { background: rgba(250, 127, 78, 0.1); border: 1rem solid rgba(250, 127, 78, 0.4); color: #FA7F4E; }

.main .header .header-up .header-up-right span.has-extended { background: rgba(245, 108, 108, 0.1); border: 1px solid rgba(245, 108, 108, 0.4); color: #F56C6C; }

.main .header .header-down { width: 100%; height: 50rem; font-size: 20rem; font-family: PingFang SC; font-weight: 500; color: #FFFFFF; border-radius: 25rem; overflow: hidden; position: relative; display: flex; }

.main .header .header-down p { width: auto; height: 100%; text-align: center; line-height: 50rem; }

.main .header .header-down p.header-down-left { flex: 1; background: #00CE7D; position: relative; }

.main .header .header-down p.header-down-left i { display: block; width: 0; height: 0; border-top: 25rem solid transparent; border-left: 18rem solid #00CE7D; border-bottom: 25rem solid transparent; position: absolute; right: -18rem; top: 0; z-index: 99; }

.main .header .header-down p.header-down-right { width: 364rem; background: #006CFF; }

.main .tab { width: 100%; height: 88rem; display: flex; background: #FFFFFF; margin: 30rem 0; position: relative; }

.main .tab a { flex: 1; height: 100%; line-height: 88rem; text-align: center; font-size: 32rem; font-family: PingFang SC; font-weight: 400; color: #323232; }

.main .tab i { position: absolute; width: 33.333333%; height: 3rem; background: #0062B1; border-radius: 2rem; left: 0; bottom: 0; }

.main .form { width: 690rem; height: auto; background: #FFFFFF; border-radius: 24rem; margin: 0 auto 30rem; box-sizing: border-box; padding: 10rem 30rem 42rem; }

.main .form li { height: 140rem; border-bottom: 1rem solid #DCDFE6; overflow: hidden; }

.main .form li h5 { margin: 30rem 0 26rem; font-size: 28rem; font-family: PingFang SC; font-weight: 400; color: #909399; line-height: 1; }

.main .form li p { font-size: 32rem; font-family: PingFang SC; font-weight: 400; color: #323232; line-height: 1; }

.main .form li:last-child div { display: flex; font-size: 32rem; font-family: PingFang SC; font-weight: 400; color: #323232; justify-content: space-around; }

.main .form li:last-child div label input { vertical-align: middle; }

.main .comment { width: 690rem; height: auto; background: #FFFFFF; border-radius: 24rem; margin: 0 auto 20rem; box-sizing: border-box; padding: 10rem 30rem 42rem; }

.main .comment .div-title { display: flex; height: 44rem; justify-content: space-between; align-items: center; line-height: 1; margin: 38rem 0 52rem; }

.main .comment .div-title h5 { position: relative; font-size: 32rem; font-family: PingFang SC; font-weight: bold; color: #323232; }

.main .comment .div-title h5 i { display: inline-block; width: 6rem; height: 32rem; background: #046ABF; border-radius: 0rem 6rem 6rem 0rem; position: absolute; left: -30rem; top: 0; }

.main .comment .div-title p { font-size: 28rem; font-family: PingFang SC; font-weight: 400; color: #0062B1; }

.main .comment .div-title p i { display: inline-block; width: 44rem; height: 44rem; background: url("./../images/comment.png") no-repeat center center; background-size: 100% 100%; vertical-align: text-top; margin-left: 20rem; }

.main .comment ul { width: 100%; }

.main .comment ul li { display: flex; justify-content: space-between; margin-bottom: 52rem; }

.main .comment ul li .div-img { width: 88rem; height: 88rem; border-radius: 16rem; }

.main .comment ul li .div-img img { width: 100%; height: auto; }

.main .comment ul li .div-right { flex: 1; margin-left: 40rem; }

.main .comment ul li .div-right .div-right-name { font-size: 32rem; font-family: PingFang SC; font-weight: 400; color: #323232; line-height: 1; margin-bottom: 20rem; }

.main .comment ul li .div-right .div-right-time { font-size: 24rem; font-family: PingFang SC; font-weight: 400; color: #989898; line-height: 1; display: flex; justify-content: space-between; margin-bottom: 20rem; }

.main .comment ul li .div-right .div-right-time i { display: inline-block; vertical-align: bottom; }

.main .comment ul li .div-right .div-right-time i.reply { width: 24rem; height: 22rem; background: url("./../images/reply.png") no-repeat center center; background-size: 100% 100%; margin-right: 14rem; }

.main .comment ul li .div-right .div-right-time i.edit { width: 22rem; height: 22rem; background: url("./../images/edit.png") no-repeat center center; background-size: 100% 100%; margin-left: 20rem; }

.main .comment ul li .div-right .div-right-text { background: #F7F8FA; border-radius: 8rem; box-sizing: border-box; padding: 24rem 24rem 32rem 30rem; }

.main .comment ul li .div-right .div-right-text > p { font-size: 28rem; font-family: PingFang SC; font-weight: 400; color: #989898; line-height: 42rem; }

.main .comment ul li .div-right .div-right-text ul { display: none; margin-top: 42rem; }

.main .comment ul li .div-right .div-right-text ul li .div-right { margin-left: 36rem; }

.main .comment ul li .div-right .div-right-text ul li .div-right .div-right-text { padding: 0; }

.main .comment ul li .div-right .div-right-text ul li .div-right .div-right-text > p { margin: 0; }

.main .comment ul li .div-right .div-right-text ul li:last-child { margin: 0; }

.main .operation-record { width: 690rem; height: auto; background: #FFFFFF; border-radius: 24rem; margin: 0 auto 20rem; box-sizing: border-box; padding: 10rem 30rem 42rem; }

.main .operation-record .div-title { display: flex; height: 44rem; justify-content: space-between; align-items: center; line-height: 1; margin: 38rem 0 52rem; }

.main .operation-record .div-title h5 { position: relative; font-size: 32rem; font-family: PingFang SC; font-weight: bold; color: #323232; }

.main .operation-record .div-title h5 i { display: inline-block; width: 6rem; height: 32rem; background: #046ABF; border-radius: 0rem 6rem 6rem 0rem; position: absolute; left: -30rem; top: 0; }

.main .operation-record .div-title p { font-size: 28rem; font-family: PingFang SC; font-weight: 500; color: #323232; line-height: 1; }

.main .operation-record ul li { display: flex; }

.main .operation-record ul li .div-left { width: 24rem; min-height: 388rem; position: relative; }

.main .operation-record ul li .div-left span { display: block; width: 100%; height: 24rem; border-radius: 50%; background: url("./../images/icon-4.png") no-repeat center center; background-size: 100% 100%; position: absolute; top: 0; z-index: 9; }

.main .operation-record ul li .div-left i { display: inline-block; width: 1rem; height: 100%; background: #ECF0F1; position: absolute; top: 0; left: 50%; transform: translateX(-50%); }

.main .operation-record ul li .div-right { flex: 1; margin-left: 24rem; padding-bottom: 60rem; }

.main .operation-record ul li .div-right h5 { font-size: 24rem; font-family: PingFang SC; font-weight: 500; color: #656565; line-height: 1; margin-bottom: 24rem; }

.main .operation-record ul li .div-right div { background: #F7F8FA; border-radius: 8rem; box-sizing: border-box; padding: 30rem 24rem; }

.main .operation-record ul li .div-right div h1 { font-size: 32rem; font-family: PingFang SC; font-weight: 400; color: #323232; line-height: 48rem; margin-bottom: 34rem; }

.main .operation-record ul li .div-right div h1 span { color: #0062B1; }

.main .operation-record ul li .div-right div p { font-size: 24rem; font-family: PingFang SC; font-weight: 400; color: #656565; line-height: 28rem; margin-bottom: 26rem; }

.main .operation-record ul li .div-right div p:last-child { margin: 0; }

.main .operation-record ul li .div-right div p i { display: inline-block; width: 28rem; height: 28rem; vertical-align: bottom; margin-right: 20rem; }

.main .operation-record ul li .div-right div p i.i-one { background: url("./../images/icon-1.png") no-repeat center center; background-size: 100% 100%; }

.main .operation-record ul li .div-right div p i.i-two { background: url("./../images/icon-2.png") no-repeat center center; background-size: 100% 100%; }

.main .operation-record ul li .div-right div p i.i-three { background: url("./../images/icon-3.png") no-repeat center center; background-size: 100% 100%; }

.main .folded-panel { width: 100%; height: 140rem; background: #FFFFFF; position: fixed; bottom: 0; left: 0; z-index: 9; }

.main .folded-panel .content-wrap { width: 100%; box-sizing: border-box; padding: 0 20rem 20rem; background: #FFFFFF; position: absolute; top: 0; left: 0; z-index: 10; }

.main .folded-panel .content-wrap p { width: 100%; height: 20rem; margin: 20rem 0; position: relative; }

.main .folded-panel .content-wrap p span { display: inline-block; width: 20rem; height: 10rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: url("./../images/icon-5.png") no-repeat center center; background-size: 100% 100%; }

.main .folded-panel .content-wrap ul { display: grid; grid-template-columns: repeat(4, 1fr); grid-auto-rows: minmax(64rem, auto); justify-content: space-between; justify-items: center; row-gap: 20rem; }

.main .folded-panel .content-wrap ul li { width: 164rem; height: 64rem; line-height: 64rem; text-align: center; opacity: 0.4; border-radius: 32rem; font-size: 28rem; font-family: PingFang SC; font-weight: 400; color: #0062B1; border: none; border: 1rem solid #0062B1; }

.main .btn-tool { width: 122rem; height: 122rem; background: url("./../images/btn-tool.png") no-repeat center center; background-size: 100% 100%; position: fixed; right: 0; bottom: 220rem; z-index: 99; }

.main .btn-tool ul { width: auto; height: 318rem; background: #FFFFFF; box-shadow: 0rem 0rem 72rem 1rem rgba(132, 132, 132, 0.2); border-radius: 24rem; box-sizing: border-box; padding: 36rem 40rem; position: absolute; left: -130rem; top: -333rem; display: none; }

.main .btn-tool ul li { font-size: 28rem; font-family: PingFang SC; font-weight: 400; color: #323232; line-height: 30rem; margin-bottom: 40rem; }

.main .btn-tool ul li i { display: inline-block; margin-right: 20rem; vertical-align: bottom; }

.main .btn-tool ul li i.i-one { width: 24rem; height: 30rem; background: url("./../images/tool-1.png") no-repeat center center; background-size: 100% 100%; }

.main .btn-tool ul li i.i-two { width: 28rem; height: 24rem; background: url("./../images/tool-2.png") no-repeat center center; background-size: 100% 100%; }

.main .btn-tool ul li i.i-three { width: 26rem; height: 26rem; background: url("./../images/tool-3.png") no-repeat center center; background-size: 100% 100%; }

.main .btn-tool ul li i.i-four { width: 28rem; height: 24rem; background: url("./../images/tool-4.png") no-repeat center center; background-size: 100% 100%; }

.main .btn-tool ul p { width: 0; height: 0; border-top: 20rem solid #FFFFFF; border-left: 20rem solid transparent; border-right: 20rem solid transparent; position: absolute; bottom: -20rem; right: 30rem; }
