body {
    background: #F7F8FA;
    box-sizing: border-box;
    padding-bottom: 98rem;
}

.main {
    .search {
        display: flex;
        box-sizing: border-box;
        background: #ffffff;
        padding: 30rem 30rem;
        justify-content: space-between;
        align-items: center;

        input {
            width: 622rem;
            height: 80rem;
            background: #F6F7F9;
            border-radius: 40rem;
            border: none;
            outline: none;
            box-sizing: border-box;
            padding: 0 20rem;
            font-size: 32rem;
            font-family: PingFangSC-Regular;
        }

        input::-webkit-input-placeholder {
            text-align: center;
            font-size: 32rem;
            color: #C3C5C9;
        }

        span {
            display: block;
            width: 30rem;
            height: 24rem;
            background: url("./../images/icon.png") no-repeat center center;
            background-size: 100% 100%;
        }
    }

    .tab {
        width: 100%;
        height: 58rem;
        background: #ffffff;

        .main-content {
            width: 690rem;
            height: 58rem;
            margin: 0 auto;
            overflow-x: scroll;
            white-space: nowrap;
            overflow-y: hidden;
            /* 隐藏滚动条 */
            scrollbar-width: none;
            /* firefox */
            -ms-overflow-style: none;

            /* IE 10+ */
            &::-webkit-scrollbar {
                display: none;
                /* Chrome Safari */
            }
        }

        ul {
            width: 100%;
            height: 100%;
            position: relative;

            li {
                width: auto;
                font-size: 28rem;
                font-family: PingFang SC;
                font-weight: 400;
                color: #323232;
                line-height: 1;
                text-align: center;
                float: left;
                margin-right: 62rem;

                &:last-of-type {
                    margin-right: 0;
                }
            }

            i {
                display: block;
                width: 30rem;
                height: 6rem;
                background: #0062B1;
                border-radius: 3rem;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

    }

    .form {
        width: 690rem;
        margin: 30rem auto;
        padding-bottom: 30rem;
        position: relative;

        ul {
            width: 100%;
            height: auto;
            display: none;

            &.ul-active {
                display: block;
            }

            li {
                width: 100%;
                height: auto;
                background: #FFFFFF;
                border-radius: 24rem;
                box-sizing: border-box;
                padding: 38rem 42rem;
                margin-bottom: 28rem;

                &:last-child {
                    margin-bottom: 0;
                }

                h5 {
                    font-size: 32rem;
                    font-family: PingFang SC;
                    font-weight: 400;
                    color: #323232;
                    margin-bottom: 28rem;
                }

                p {
                    font-size: 28rem;
                    font-family: PingFang SC;
                    font-weight: 400;
                    color: #989898;
                    margin-bottom: 20rem;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span {
                        display: inline-block;
                        box-sizing: border-box;
                        padding: 8rem 14rem;
                        background: rgba(250, 127, 78, 0.1000);
                        border: 1rem solid rgba(250, 127, 78, 0.4000);
                        border-radius: 28rem;
                        font-size: 24rem;
                        font-family: PingFang SC;
                        font-weight: 500;
                        color: #FA7F4E;
                    }
                }
            }
        }
    }
}